<% if flash[:success] %>
  <div class="flash-success brandon"><%= flash[:success] %></div>
<% end %>
<div class="content-shell"><img src="<%= image_url("glowbiotics/glowbiotics-teaser-landing.jpg") %>" /></div>
<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
<div id="footer"> test10 </div>


