<% if flash[:success] %>
  <div class="flash-success brandon"><%= flash[:success] %></div>
<% end %>
<div class="page-content">
  <div class="content-shell brandon">
    <img src="<%= image_url("glowbiotics/glowbiotics-teaser-reward.jpg") %>" />
    <h2>Now share this exciting news with your friends!</h2>
    <p>Invite your friends to experience GLOWBIOTICS, a complete line of revolutionary skincare formulas that utilize topical probiotics, one of the industry’s biggest beauty breakthroughs, to help every woman achieve healthy, radiant skin! We’re pretty confident that this product line will be your new skincare “friend with benefits!”</p>
    <p>Share your unique link via email, Facebook or Twitter to earn free GLOWBIOTICS Product when friends sign up!</p>

    <div class="glowbiotics-email-link-box"><%= root_url %>?ref=<%= @user.referral_code %></div>
    <% twitter_message = "#Get Glowing! Excited for @glowbiotics to launch." %>
    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img src="<%= image_url("glowbiotics/twitter.png") %>" /></a>

    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" target="_blank"><img src="<%= image_url("glowbiotics/facebook.png") %>" /></a>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout brandon">Here's How It Works:</p>
    <ul class="products clearfix">
      <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards"></p></li>
      <% stops.each do |stop| %>
        <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>

          <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div>
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
      words = ''
      if referrals_count == 1
        words = 'friend has'
      elsif
        words = 'friends have'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check brandon">Keep checking</p>

    <p class="ship brandon">We only ship in the United States.</p>
    <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
  </div>
</div>