<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Glowbiotics Probiotic Skincare - Ready, Set, GLOW! </title>
  <link rel="icon" href="https://www.glowbioticsmd.com/media/wysiwyg/glowbiotics-teaser-website/glowbiotics-favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="https://www.glowbioticsmd.com/media/wysiwyg/glowbiotics-teaser-website/glowbiotics-favicon.png" type="image/x-icon">

  <meta property="og:title" content="Glowbiotics Probiotics A Revolution in Probiotic Skincare Help us spread this glowing news and earn FREE skincare products in the process! Be the first in the GLOW"/>
  <meta property="og:description" content="Glowbiotics Probiotics A Revolution in Probiotic Skincare Help us spread this glowing news and earn FREE skincare products in the process! Be the first in the GLOW"/>
  <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <% if @is_mobile %>
    <% if @bodyId == 'home' %>
      <meta name="viewport" content="width=1600" />
    <% else %>
      <meta name="viewport" content="width=1120" />
    <% end %>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
